// Grid
$artboard-grid-px: 10px;
$artboard-grid-color: rgba(0, 0, 0, 0.25);
$artboard-divider-interval: 8;
$artboard-divider-color: rgba(0, 0, 0, 0.5);
$artboard-overlay-opacity: 0.5;
$divider-px: $artboard-grid-px * $artboard-divider-interval;

@import '../../node_modules/artboard/dist/sass/artboard';

$border-width: 1px;
$panel-left: $divider-px;
$panel-top: $divider-px;
// $panel-height: 162px;
// $panel-width: 277px;
$line-height: $artboard-grid-px * 2;
$horizontal-spacing: $artboard-grid-px / 2;

body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  line-height: $line-height;
}

.panel {
  left: $panel-left;
  position: absolute;
  top: $panel-top;
  border: $border-width solid #000;
}

.field,
.toggle,
.buttons {
  margin: $artboard-grid-px;
}

.toggle .label {
  display: inline-block;
}

.field .label {
  display: block;
  float: left;
  margin-right: $horizontal-spacing;
}

.value {
  height: $line-height - $border-width * 2;
  overflow: hidden;
  padding: 0 $horizontal-spacing;
  border: $border-width solid #000;
}

.checkbox {
  display: inline-block;
  height: $artboard-grid-px - ($border-width * 2);
  width: $artboard-grid-px - ($border-width * 2);
  border: $border-width solid #000;
}

.buttons {
  clear: both;
  overflow: hidden;
}

.buttons .button {
  height: $line-height - $border-width * 2;
  float: left;
  margin-right: $artboard-grid-px;
  padding: 0 $horizontal-spacing;
  border: $border-width solid #000;
}

.buttons .last {
  margin-right: 0;
}
