// Grid
$artboard-grid-px: 10px;
$artboard-grid-color: rgba(0, 0, 0, 0.25);
$artboard-divider-interval: 10;
$artboard-divider-color: rgba(0, 0, 0, 0.5);
$artboard-overlay-opacity: 0.5;
$divider-px: $artboard-grid-px * $artboard-divider-interval;

@import '../../node_modules/artboard/dist/sass/artboard';

$border-width: 1px;
$panel-left: $divider-px;
$panel-top: $divider-px;
$panel-height: $divider-px * 2 - ($border-width * 2);
$panel-width: $divider-px * 3 - ($border-width * 2);

body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  line-height: $artboard-grid-px * 2;
}

.field,
.toggle,
.buttons {
  margin: $artboard-grid-px;
}

.toggle .label,
.buttons .button {
  display: inline-block;
}

.checkbox {
  display: inline-block;
  height: $artboard-grid-px - ($border-width * 2);
  width: $artboard-grid-px - ($border-width * 2);
  border: $border-width solid #000;
}

.panel {
  left: $panel-left;
  position: absolute;
  top: $panel-top;
  width: $panel-width;
  height: $panel-height;
  border: $border-width solid #000;
}
