.artboard-grid {
  background-image: repeating-linear-gradient(0deg, transparent, transparent 79px, 79px, rgba(0, 0, 0, 0.5) 80px), repeating-linear-gradient(-90deg, transparent, transparent 79px, 79px, rgba(0, 0, 0, 0.5) 80px), repeating-linear-gradient(0deg, transparent, transparent 9px, 9px, rgba(0, 0, 0, 0.25) 10px), repeating-linear-gradient(-90deg, transparent, transparent 9px, 9px, rgba(0, 0, 0, 0.25) 10px);
  background-size: 80px 80px; }

.artboard-overlay {
  background-image: repeating-linear-gradient(0deg, transparent, transparent 79px, 79px, rgba(0, 0, 0, 0.5) 80px), repeating-linear-gradient(-90deg, transparent, transparent 79px, 79px, rgba(0, 0, 0, 0.5) 80px), repeating-linear-gradient(0deg, transparent, transparent 9px, 9px, rgba(0, 0, 0, 0.25) 10px), repeating-linear-gradient(-90deg, transparent, transparent 9px, 9px, rgba(0, 0, 0, 0.25) 10px);
  background-size: 80px 80px;
  opacity: 0.5;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }

body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  line-height: 20px; }

.panel {
  left: 80px;
  position: absolute;
  top: 80px;
  border: 1px solid #000; }

.field,
.toggle,
.buttons {
  margin: 10px; }

.toggle .label,
.buttons .button {
  display: inline-block; }

.field .label {
  display: block;
  float: left;
  padding-right: 10px; }

.value {
  height: 18px;
  overflow: hidden;
  border: 1px solid #000; }

.checkbox {
  display: inline-block;
  height: 8px;
  width: 8px;
  border: 1px solid #000; }

.buttons .button {
  margin-right: 10px;
  padding: 0 10px;
  border: 1px solid #000; }

.buttons .last {
  margin-right: 0; }
